<!DOCTYPE html>
<html>
<head>
<style>
  
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 10px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
  font-size: 18px;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #666;
  color: white;
}
  
  
</style>
</head>
<body>

<!-- Header -->
<div class="header" id="myHeader">
  <h1>Images</h1>
  <p>In my spare time, I enjoy birding and bird photography. On this page, you may find are a selection of bird pictures I have taken over the years</p>
  <button onclick="one()"> 1</button>
  <button onclick="two()"> 2</button>
  <button onclick="four()"> 4</button>
</div>

<!-- Photo Grid -->
<div class="row"> 
  <div class="column">
    <img src="{{matthewncoates.github.io}}/images/Hummingbird.png" style="width:100%">
    <img src="{{matthewncoates.github.io}}/images/Robin.png" style="width:100%">
    <img src="{{matthewncoates.github.io}}/images/Robin.png" style="width:100%">
    <img src="{{matthewncoates.github.io}}/images/Hummingbird.png" style="width:100%">
    <img src="{{matthewncoates.github.io}}/images/Robin.png" style="width:100%">
    <img src="{{matthewncoates.github.io}}/images/Hummingbird.png" style="width:100%">
    <img src="{{matthewncoates.github.io}}/images/Robin.png" style="width:100%">
  </div>
  <div class="column">
    <img src="{{matthewncoates.github.io}}/images/Hummingbird.png" style="width:100%">
    <img src="{{matthewncoates.github.io}}/images/Robin.png" style="width:100%">
    <img src="{{matthewncoates.github.io}}/images/Hummingbird.png" style="width:100%">
    <img src="{{matthewncoates.github.io}}/images/Robin.png" style="width:100%">
    <img src="{{matthewncoates.github.io}}/images/Hummingbird.png" style="width:100%">
    <img src="{{matthewncoates.github.io}}/images/Robin.png" style="width:100%">
    <img src="{{matthewncoates.github.io}}/images/Hummingbird.png" style="width:100%">

  </div>  
  <div class="column">
    <figure>
    <img src="{{matthewncoates.github.io}}/images/GreatYellowlegs.JPG" style="width:100%">
     <figcaption>Great Yellowlegs, Irvine, CA.</figcaption>
    </figure> 
        <figure>
    <img src="{{matthewncoates.github.io}}/images/WhitePelican.JPG" style="width:100%">
     <figcaption>American White Pelican, Irvine, CA.</figcaption>
    </figure> 
    <figure>
    <img src="{{matthewncoates.github.io}}/images/GreaterRoadrunner.JPG" style="width:100%">
     <figcaption>Greater Roadrunner, Irvine, CA.</figcaption>
    </figure>
     <figure>
    <img src="{{matthewncoates.github.io}}/images/GreatEgret2.JPG" style="width:100%">
     <figcaption>Great Egret, Irvine, CA.</figcaption>
    </figure>
     <figure>
    <img src="{{matthewncoates.github.io}}/images/SpottedTowhee.JPG" style="width:100%">
     <figcaption>Spotted Towhee, Irvine, CA.</figcaption>
    </figure>
    <figure>
    <img src="{{matthewncoates.github.io}}/images/WesternBluebird2.JPG" style="width:100%">
     <figcaption>Western Bluebird, Irvine, CA.</figcaption>
    </figure>
    <figure>
    <img src="{{matthewncoates.github.io}}/images/CaliforniaQuail.JPG" style="width:100%">
     <figcaption>California Quail, Irvine, CA.</figcaption>
    </figure>
    <figure>
    <img src="{{matthewncoates.github.io}}/images/AmericanRobin.JPG" style="width:100%">
     <figcaption>American Robin, Irvine, CA.</figcaption>
    </figure>
    <figure>
    <img src="{{matthewncoates.github.io}}/images/TreeSwallow.JPG" style="width:100%">
     <figcaption>Tree Swallow, Irvine, CA.</figcaption>
    </figure>
    <figure>
    <img src="{{matthewncoates.github.io}}/images/GreatEgret.JPG" style="width:100%">
     <figcaption>Great Egret, Newport Back Bay, CA.</figcaption>
    </figure>
    <figure>
    <img src="{{matthewncoates.github.io}}/images/SnowyEgret.JPG" style="width:100%">
     <figcaption>Snowy Egret, Irvine, CA.</figcaption>
    </figure>
    <figure>
    <img src="{{matthewncoates.github.io}}/images/Sanderling1.JPG" style="width:100%">
     <figcaption>Sanderling, Crystal Cove, CA.</figcaption>
    </figure>
    <figure>
    <img src="{{matthewncoates.github.io}}/images/Whimbrel.JPG" style="width:100%">
     <figcaption>Whimbrel, Crystal Cove, CA.</figcaption>
    </figure>
    <figure>
    <img src="{{matthewncoates.github.io}}/images/CaliforniaThrasher.JPG" style="width:100%">
     <figcaption>California Thrasher, Crystal Cove, CA.</figcaption>
    </figure>
    <figure>
    <img src="{{matthewncoates.github.io}}/images/RedShoulderedHawk.JPG" style="width:100%">
     <figcaption>Red Shouldered Hawk, Irvine, CA.</figcaption>
    </figure>
    <figure>
    <img src="{{matthewncoates.github.io}}/images/Hummingbird.png" style="width:100%">
     <figcaption>Allen's Hummingbird, Irvine, CA.</figcaption>
    </figure>
    <figure>
    <img src="{{matthewncoates.github.io}}/images/EuropeanRobin.JPG" style="width:100%">
     <figcaption>European Robin, Irvine, Dorset, UK.</figcaption>
    </figure> 
  </div>
  <div class="column">
     <figure>
    <img src="{{matthewncoates.github.io}}/images/Whimbrel3.JPG" style="width:100%">
     <figcaption>Whimbrel, Crystal Cove, CA.</figcaption>
    </figure> 
    <figure>
    <img src="{{matthewncoates.github.io}}/images/LesserGoldfinch.JPG" style="width:100%">
     <figcaption>Lesser Goldfinch, Newport Beach, CA.</figcaption>
    </figure>
    <figure>
    <img src="{{matthewncoates.github.io}}/images/WesternGull.JPG" style="width:100%">
     <figcaption>Western Gull, Newport Beach, CA.</figcaption>
    </figure>
      <figure>
    <img src="{{matthewncoates.github.io}}/images/WhiteFacedIbis.JPG" style="width:100%">
     <figcaption>White-Faced Ibis, Irvine, CA.</figcaption>
    </figure>
     <figure>
    <img src="{{matthewncoates.github.io}}/images/AmericanAvocet.JPG" style="width:100%">
     <figcaption>American Avocet, Irvine, CA.</figcaption>
    </figure>
    <figure>
    <img src="{{matthewncoates.github.io}}/images/GreatBlueHeron.JPG" style="width:100%">
     <figcaption>Great Blue Heron, Irvine, CA.</figcaption>
    </figure>
    <figure>
    <img src="{{matthewncoates.github.io}}/images/AcornWoodpecker.JPG" style="width:100%">
     <figcaption>Acorn Woodpecker, Los Angeles, CA.</figcaption>
    </figure>
    <figure>
    <img src="{{matthewncoates.github.io}}/images/DarkEyedJunco.JPG" style="width:100%">
     <figcaption>Dark Eyed Junco, Irvine, CA.</figcaption>
    </figure>
    <figure>
    <img src="{{matthewncoates.github.io}}/images/CassinsKingbird.JPG" style="width:100%">
     <figcaption>Cassins's Kingbird, Irvine, CA.</figcaption>
    </figure>
    <figure>
    <img src="{{matthewncoates.github.io}}/images/TurkeyVulture.JPG" style="width:100%">
     <figcaption>Turkey Vulture, Newport Back Bay, CA.</figcaption>
    </figure>
    <figure>
    <img src="{{matthewncoates.github.io}}/images/Sanderling2.JPG" style="width:100%">
     <figcaption>Sanderling, Crystal Cove, CA.</figcaption>
    </figure>
    <figure>
    <img src="{{matthewncoates.github.io}}/images/Whimbrel2.JPG" style="width:100%">
     <figcaption>Whimbrel, Crystal Cove, CA.</figcaption>
    </figure>
    <figure>
    <img src="{{matthewncoates.github.io}}/images/Willet.JPG" style="width:100%">
     <figcaption>Willet, Crystal Cove, CA.</figcaption>
    </figure> 
    <figure>
    <img src="{{matthewncoates.github.io}}/images/WesternBluebird.JPG" style="width:100%">
     <figcaption>Western Bluebird, Irvine, CA.</figcaption>
    </figure> 
    <figure>
    <img src="{{matthewncoates.github.io}}/images/BlackPhoebe.JPG" style="width:100%">
     <figcaption>Black Phoebe, Irvine, CA.</figcaption>
    </figure> 
    <figure>
    <img src="{{matthewncoates.github.io}}/images/CommonKestrel.JPG" style="width:100%">
     <figcaption>Common Kestrel, Dorset, UK.</figcaption>
    </figure> 

  </div>
</div>

<script>
// Get the elements with class="column"
var elements = document.getElementsByClassName("column");

// Declare a "loop" variable
var i;

// Full-width images
function one() {
  for (i = 0; i < elements.length; i++) {
    elements[i].style.flex = "100%";
  }
}

// Two images side by side
function two() {
  for (i = 0; i < elements.length; i++) {
    elements[i].style.flex = "50%";
  }
}

// Four images side by side
function four() {
  for (i = 0; i < elements.length; i++) {
    elements[i].style.flex = "25%";
  }
}

// Add active class to the current button (highlight it)
var header = document.getElementById("myHeader");
var btns = header.getElementsByClassName("btn");
for (var i = 0; i < btns.length; i++) {
  btns[i].addEventListener("click", function() {
    var current = document.getElementsByClassName("active");
    current[0].className = current[0].className.replace(" active", "");
    this.className += " active";
  });
}
</script>

</body>
</html>
